<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-5 mt-4">
            <div class="header-icon text-center">
                <i class="fa fa-user-circle fa-5x"></i>
                <h6 class="mt-2">Entre com sua conta</h6>
            </div>
        </div>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md-5 offset-md-4">
                <hr>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Insira seu Email">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartilhe seu Email e Senha com mais ninguém.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Insira sua senha">
                </div>
                <div class="form-group text-center">
                    <span class="form-text text-muted">Não possui uma conta? <a routerLink="/register">Clique aqui</a></span>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </div>
    </form>
</div>